.root,
.root *,
.root *::before,
.root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

@keyframes img-progress-stripes{
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-60px, 0, 0);
    }
}

.root {
    --default-img-gradient-color: var(--img-gradient-from-color, rgba(255, 255, 255, .05));

    --img-mask-move: 60px;

    width: var(--img-width);
    height: var(--img-height);
    position: relative;
    border-radius: var(--img-radius, 8px);
    overflow: hidden;
    aspect-ratio: var(--img-aspect);

    > * {
        position: relative;
        z-index: 0;
    }


    &:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        background: no-repeat center center;
        background-size: var(--img-bg-size);
        background-color: var(--img-bg-color);
        background-image: var(--bg-image);

        z-index: 0;
    }

    &[data-lazy]{
        &:before{
            opacity: 0;
            filter: blur(4px);
            transition: opacity .8s, filter .8s;
        }
        &[data-status="done"],
        &[data-status="fail"] {
            &:before{
                opacity: 1;
                filter: blur(0);
            }
        }
    }


    &[data-mask]{
        &:after{
            content: "";
            opacity: 0.8;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: calc(100% + var(--img-mask-move));
            height: 100%;
            background-image: linear-gradient(-60deg, var(--default-img-gradient-color) 25%, transparent 0, transparent 50%, var(--default-img-gradient-color) 0, var(--default-img-gradient-color) 75%, transparent 0, transparent);
            animation: img-progress-stripes 1.2s linear infinite;
            transform: translateX(0);
            background-repeat: repeat;
            background-size: 58px 100px;
            z-index: 0;
        }
    }

}

