.img {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    display: block;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &[data-lazy]{
         transition: opacity .4s, filter .4s;
         filter: blur(4px);
         opacity: 0;

      &[data-pending="false"] {
         filter: blur(0);
         opacity: 1;
      }
    }
}
